* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

.container {
  box-sizing: border-box;
  height: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0e3c45;
  position: relative;
}
.background {
  width: 100%;
  min-height: 9rem;
  place-self: start;
  flex-shrink: 0;
}
.logos {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logos img:last-of-type {
  height: 33.5px;
  width: 75px;
}

.footer-container {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 7rem;
}
.left-footer {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  gap: 2rem;
  width: 30rem;
  height: 16rem;
}
.left-footer p {
  font-size: 0.875rem;
  line-height: 175%;
  letter-spacing: 0.04375rem;
}
.right-footer {
  justify-content: center;
  margin-right: 5%;
  display: flex;
  width: 30rem;
  height: 16rem;
}

.right-footer ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-footer li {
  list-style-type: none;
}

.contacts ul li a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.3rem;
}
.contacts ul li p {
  font-size: 1rem;
  padding-bottom: 2.5px;
  line-height: 1rem;
}

.contacts a:visited {
  color: black;
}
.social-media,
.contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.social-media h1,
.contacts h1 {
  font-size: 1.5rem;
  line-height: 175%;
}
.social-media ul li a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.3rem;
}

.social-media ul li p {
  font-size: 1rem;
  padding-bottom: 2.5px;
  line-height: 1rem;
}
.web-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
.web-container img {
  height: auto;
}
@media screen and (max-width: 768px) {
  .background {
    min-height: 7.8125rem;
  }
  .container {
    height: 65rem;
    gap: 2rem;
    justify-content: unset;
  }
  .footer-container {
    flex-direction: column;
    margin: 0;
  }
  .left-footer {
    margin: 0;
    width: 80%;
    height: auto;
  }
  .right-footer {
    margin: 0;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
  }
  .web-container {
    display: none;
  }
}
