@font-face {
  font-family: "Dreadful";
  src: url("./asset/Dreadful-Regular.otf");
}
@font-face {
  font-family: "Jack";
  src: url("./asset/JackReacher.ttf");
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  font-family: "Dreadful";
}

* {
  margin: 0;
  padding: 0;
}